<!-- <p>
  Nome: {{ nome }}
</p>
 -->

<!-- --------------------------------------------------------- -->

<!--  <p>Nome: {{ socios[0].nome }}</p>
 <p>Contato: {{ socios[0].contato }}</p>
 -->

<!-- --------------------------------------------------------- -->

<!-- <div class="panel panel-default espaco" *ngFor="let socio of socios">
  <p>Nome: {{ socio.nome }}</p>
  <p>Contato: {{ socio.contato }}</p>
</div>
 -->

<!-- --------------------------------------------------------- -->

<!-- Aula 31 -->

<div class="panel panel-default espaco">
  <p>Nome: {{ nome }}</p>
</div>

<!-- --------------------------------------------------------- -->
