<!-- Aula 25 -->

<!-- <div class="container panel panel-default espaco">

    <app-loja></app-loja>
    <app-stock></app-stock>

</div>
 -->
<!-- ---------------------------------------------------------- -->

<!-- Aula 26 -->

<div class="panel panel-default espaco">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <img src="../assets/store_logo.png" alt="Logo da loja">
        </div>
        <div class="col-sm-6 col-xs-12 text-right">
            <button class="btn btn-primary btn-size" (click)="MostrarLoja()">Loja</button>
            <button class="btn btn-primary btn-size" (click)="MostrarStock()">Stock</button>
        </div>
    </div>

    <app-loja *ngIf="loja_visivel"></app-loja>
    <app-stock *ngIf="stock_visivel"></app-stock>
</div>
 
<!-- ----------------------------------------------------------

<!-- <div class="container">
    <div class="panel panel-default espaco">
        <p>Componente principal</p>
        <app-comp1></app-comp1>
        <app-comp2></app-comp2>
    </div>
</div>
 -->